<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <!-- Package visibility for LAM -->
    <queries>
        <!-- ** INCLUDE EVERY SUPPORTED DISEASE HERE ** -->
        <package android:name="com.leishmaniapp.lam.mock.spots" />
        <package android:name="com.leishmaniapp.lam.leishmaniasis.giemsa" />
        <package android:name="com.leishmaniapp.lam.malaria.romanowsky" />
    </queries>

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera.any" />
    <!-- Requires camera to take sample photos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Requires internet to communicate to the Leishmaniapp Analysis Backend -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Requires to know if internet is available to choose between cloud and local analysis -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Might notify the user about foreground services -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Requires permission to bind to LAM modules -->
    <uses-permission android:name="com.leishmaniapp.lam.BIND_PERMISSION" />

    <!-- Application manifest -->
    <application
        android:name=".infrastructure.android.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true">

        <!-- Jetpack Compose single activity -->
        <activity
            android:name=".presentation.activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <!-- android:screenOrientation is discouraged but required by client -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:node="merge" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <!-- Provider required to share files with LAM modules -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.leishmaniapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>


</manifest>